<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1858_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{61,91},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{49,61},{28,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1858_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{91,91},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{121,61},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{49,1},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,63},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{49,31},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,33},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{31,91},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{121,95},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{85,61},{28,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1858_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,91},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{95,1},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{141,1},{44,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1858_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{95,31},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1858_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1859.png</string>
            <key>size</key>
            <string>{168,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220fd5a0215f4921a47286beee1b083c:9a9d40cd857ab8911096484c25cb807c:348048eadd4c6cc24877bb783294f2de$</string>
            <key>textureFileName</key>
            <string>1859.png</string>
        </dict>
    </dict>
</plist>
